@import 'tailwindcss';

/* Gambetta */
@font-face {
  font-family: 'Gambetta';
  src: url(../assets/fonts/gambetta/Gambetta-Medium.woff2) format('woff2');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Gambetta';
  src: url(../assets/fonts/gambetta/Gambetta-Regular.woff2) format('woff2');
  font-weight: 400;
  font-display: swap;
}

/* General-sans */
@font-face {
  font-family: 'General Sans';
  src: url(../assets/fonts/general/GeneralSans-Bold.woff2) format('woff2');
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: 'General Sans';
  src: url(../assets/fonts/general/GeneralSans-Semibold.woff2) format('woff2');
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: 'General Sans';
  src: url(../assets/fonts/general/GeneralSans-Medium.woff2) format('woff2');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'General Sans';
  src: url(../assets/fonts/general/GeneralSans-Regular.woff2) format('woff2');
  font-weight: 400;
  font-display: swap;
}

@theme {
  --font-gambetta: 'Gambetta', sans-serif;
  --font-general: 'General Sans', sans-serif;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.85);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-slideInLeft {
  animation: slideInLeft 0.5s ease-out;
}

.animate-slideInRight {
  animation: slideInRight 0.5s ease-out;
}

.animate-fadeIn {
  animation: fadeIn 0.5s ease-out;
}

button {
  cursor: pointer;
}
